In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_csv(r'C:\Users\dheof\.ipynb_checkpoints\melb_data.csv')
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [3]:
# NO 1

df[['Rooms', 'Distance', 'Landsize', 'Price']].describe()

              Rooms      Distance       Landsize         Price
count  13580.000000  13580.000000   13580.000000  1.358000e+04
mean       2.937997     10.137776     558.416127  1.075684e+06
std        0.955748      5.868725    3990.669241  6.393107e+05
min        1.000000      0.000000       0.000000  8.500000e+04
25%        2.000000      6.100000     177.000000  6.500000e+05
50%        3.000000      9.200000     440.000000  9.030000e+05
75%        3.000000     13.000000     651.000000  1.330000e+06
max       10.000000     48.100000  433014.000000  9.000000e+06

In [30]:
# NO 2
# a) berapa jumlah Rooms pada rumah yang harganya paling mahal?

df[df['Price'] == df['Price'].max()][['Rooms']]

       Rooms
12094      3

In [34]:
# b) berapa rata rata harga rumah yang jarak ke CBD (variabel Distance) terdekat?

df[df['Distance'] == df['Distance'].min()][['Price']].mean()

Price    671166.666667
dtype: float64

In [8]:
# c) Berapa rata rata harga rmh yg luas tanahanya (Landsize) 1x std diatas rata landsize

land_mean = df['Landsize'].mean()
land_std = df['Landsize'].std()

df[df['Landsize'] > (land_mean + land_std)]['Price'].mean()

880776.6666666666

In [19]:
# d) berapa range harga rmh (price) pada region Southern Metropolitan

df_sm = df[df['Regionname'] == 'Southern Metropolitan']


jrk = df_sm['Price'].max() - df_sm['Price'].min()
jrk

7869000.0

In [8]:
# NO 3
df['Price'].describe()

count    1.358000e+04
mean     1.075684e+06
std      6.393107e+05
min      8.500000e+04
25%      6.500000e+05
50%      9.030000e+05
75%      1.330000e+06
max      9.000000e+06
Name: Price, dtype: float64

In [31]:
# a.)
q1 = df['Price'].describe()['25%']
q3 = df['Price'].describe()['75%']
iqr = q3 - q1
lower_fence = int(q1 - (1.5 * iqr))
upper_fence = int(q3 + (1.5 * iqr))

In [36]:
# b.)
outlier = df[(df['Price'] < lower_fence) | (df['Price'] > upper_fence)][['Price']]
outlier['Price'].count()

612

In [3]:
# NO. 4
from scipy.stats import shapiro
shapiro(df['Price'])

C:\Users\dheof\anaconda3\lib\site-packages\scipy\stats\morestats.py:1681: UserWarning: p-value may not be accurate for N > 5000.
  warnings.warn("p-value may not be accurate for N > 5000.")

ShapiroResult(statistic=0.8328601717948914, pvalue=0.0)

In [24]:
sw_statistic, sw_pvalue = shapiro(df['Price'])
if sw_pvalue > 0.05:
    print(f'P-Value: {sw_pvalue}. So, We assume a normal distribution')
else:
    print(f'P-Value: {sw_pvalue}. So, We assume a not normal distribution')

P-Value: 0.0. So, We assume a not normal distribution

In [26]:
# b.)
from scipy.stats import normaltest
normaltest(df['Price'])

NormaltestResult(statistic=6894.345896172315, pvalue=0.0)

In [27]:
nt_statistic, nt_pvalue = normaltest(df['Price'])
if nt_pvalue > 0.05:
    print(f'P-Value: {nt_pvalue}. SO, We assume a normal distribution')
else:
    print(f'P-Value: {nt_pvalue}. SO, We assume a not normal distribution')

P-Value: 0.0. SO, We assume a not normal distribution