In [1]:
import pandas as pd

In [96]:
df = pd.read_html('http://digidb.io/digimon-list/')[0]
df

,#,Digimon,Stage,Type,Attribute,Memory,Equip Slots,HP,SP,Atk,Def,Int,Spd
0,1,Kuramon,Baby,Free,Neutral,2,0,590,77,79,69,68,95
1,2,Pabumon,Baby,Free,Neutral,2,0,950,62,76,76,69,68
2,3,Punimon,Baby,Free,Neutral,2,0,870,50,97,87,50,75
3,4,Botamon,Baby,Free,Neutral,2,0,690,68,77,95,76,61
4,5,Poyomon,Baby,Free,Neutral,2,0,540,98,54,59,95,86
...,...,...,...,...,...,...,...,...,...,...,...,...,...
336,337,Alphamon NX,Mega,Vaccine,Neutral,6,1,980,104,109,114,109,116
337,338,Crusadermon NX,Mega,Virus,Dark,6,1,1030,100,118,99,109,121
338,339,Leopardmon NX,Mega,Data,Light,6,1,960,109,112,91,116,126
339,340,Omnimon NX,Mega,Vaccine,Light,6,1,1010,98,116,111,111,113
340,341,Gallantmon NX,Mega,Virus,Light,6,1,1070,93,122,109,111,108

In [28]:
df.loc[df['Type'] == 'Vaccine']

,#,Digimon,Stage,Type,Attribute,Memory,Equip Slots,HP,SP,Atk,Def,Int,Spd
17,18,Agumon,Rookie,Vaccine,Fire,5,1,1030,59,131,103,54,86
29,30,Kudamon,Rookie,Vaccine,Light,5,1,590,128,53,74,117,105
33,34,Gomamon,Rookie,Vaccine,Water,5,1,1160,69,93,93,81,79
35,36,Zubamon,Rookie,Vaccine,Neutral,5,1,1010,57,126,111,54,87
36,37,Solarmon,Rookie,Vaccine,Light,4,1,1030,88,69,108,71,77
...,...,...,...,...,...,...,...,...,...,...,...,...,...
330,331,Ouryumon,Mega,Vaccine,Neutral,20,2,1350,104,221,179,84,158
332,333,Sistermon Blanc,Rookie,Vaccine,Light,4,1,880,105,53,72,116,82
333,334,Sistermon B (Awake.),Rookie,Vaccine,Light,18,2,1310,175,72,112,191,165
336,337,Alphamon NX,Mega,Vaccine,Neutral,6,1,980,104,109,114,109,116
339,340,Omnimon NX,Mega,Vaccine,Light,6,1,1010,98,116,111,111,113

In [29]:
df.loc[(df['Type'] == 'Vaccine') & (df['HP'] > 1100)]

,#,Digimon,Stage,Type,Attribute,Memory,Equip Slots,HP,SP,Atk,Def,Int,Spd
33,34,Gomamon,Rookie,Vaccine,Water,5,1,1160,69,93,93,81,79
40,41,ToyAgumon,Rookie,Vaccine,Neutral,4,1,1110,87,72,112,63,71
59,60,Lucemon,Rookie,Vaccine,Light,14,1,1230,148,59,104,208,119
70,71,Ikkakumon,Champion,Vaccine,Water,8,1,1330,84,118,102,94,90
89,90,Greymon,Champion,Vaccine,Fire,8,1,1230,74,148,118,64,104
...,...,...,...,...,...,...,...,...,...,...,...,...,...
318,319,Susanomon,Ultra,Vaccine,Light,25,1,1630,129,183,158,149,149
324,325,Rapidmon (Armor),Armor,Vaccine,Light,18,3,1140,114,158,178,158,124
329,330,Hisyaryumon,Ultimate,Vaccine,Neutral,14,1,1200,89,183,157,74,123
330,331,Ouryumon,Mega,Vaccine,Neutral,20,2,1350,104,221,179,84,158
333,334,Sistermon B (Awake.),Rookie,Vaccine,Light,18,2,1310,175,72,112,191,165

In [44]:
HP_Mean = df['HP'].mean()

1210.5865102639295

In [46]:
by_virus = df.loc[df['Type'] == 'Virus']
by_virus.head()

,#,Digimon,Stage,Type,Attribute,Memory,Equip Slots,HP,SP,Atk,Def,Int,Spd
18,19,Agumon (Blk),Rookie,Virus,Fire,5,1,1020,56,124,108,56,85
19,20,Arcadiamon Rookie,Rookie,Virus,Dark,5,1,950,86,105,79,85,86
21,22,Impmon,Rookie,Virus,Dark,5,1,530,114,83,65,114,102
23,24,Otamamon,Rookie,Virus,Water,4,1,930,105,52,75,113,78
25,26,Gazimon,Rookie,Virus,Dark,4,1,970,71,123,64,59,102

In [49]:
hp_mean = by_virus['HP'].mean()
hp_mean

1248.392857142857

In [51]:
sp_mean = by_virus['Spd'].mean()
sp_mean

120.16964285714286

In [54]:
asd = df.loc[(df['Type'] == 'Virus') & 
       (df['HP'] > hp_mean) &
       (df['Memory'] > 18) & 
       (df['Atk'] > 100) &
       (df['Spd'] >= sp_mean)]
asd

,#,Digimon,Stage,Type,Attribute,Memory,Equip Slots,HP,SP,Atk,Def,Int,Spd
212,213,Lucemon FM,Ultimate,Virus,Neutral,22,2,1390,139,163,114,203,139
217,218,Arcadiamon Mega,Mega,Virus,Dark,20,2,1410,153,196,109,119,163
226,227,VenomMyotismon,Mega,Virus,Dark,20,3,1540,120,193,104,148,138
231,232,ChaosGallantmon,Mega,Virus,Dark,22,1,1340,139,178,139,163,144
232,233,Chaosdramon,Mega,Virus,Electric,20,2,1630,99,203,173,109,134
237,238,GranDracmon,Mega,Virus,Dark,20,2,1340,140,174,114,169,151
257,258,TyrantKabuterimon,Mega,Virus,Plant,20,2,1530,108,174,164,123,159
260,261,Creepymon,Mega,Virus,Dark,22,2,1440,133,183,114,183,140
261,262,Gallantmon,Mega,Virus,Light,22,1,1480,148,149,154,149,148
275,276,BlackWarGreymon,Mega,Virus,Fire,20,2,1730,93,183,178,89,140
277,278,Breakdramon,Mega,Virus,Earth,20,2,1880,89,213,168,94,129
280,281,Beelzemon,Mega,Virus,Dark,22,1,1680,114,228,119,99,168
281,282,Beelzemon BM,Mega,Virus,Dark,25,2,1680,114,238,124,104,178
290,291,Minervamon,Mega,Virus,Neutral,20,3,1580,114,208,114,119,168
294,295,Megidramon,Mega,Virus,Fire,20,2,1690,120,199,132,109,153
299,300,Merukimon,Mega,Virus,Wind,20,2,1320,115,178,138,141,177
301,302,Leviamon,Mega,Virus,Water,22,1,1730,120,168,158,144,133
310,311,Arcadiamon Ultra,Ultra,Virus,Dark,25,2,1510,158,204,109,134,170
319,320,Gallantmon CM,Ultra,Virus,Light,25,2,1480,139,203,124,139,173
320,321,Belphemon RM,Ultra,Virus,Dark,25,2,1780,84,247,168,109,140

In [56]:
asd['Digimon'].count()

20

In [58]:
asd.to_csv('Digimon.csv', index=False)

In [59]:
#

In [64]:
df.head()

,#,Digimon,Stage,Type,Attribute,Memory,Equip Slots,HP,SP,Atk,Def,Int,Spd
0,1,Kuramon,Baby,Free,Neutral,2,0,590,77,79,69,68,95
1,2,Pabumon,Baby,Free,Neutral,2,0,950,62,76,76,69,68
2,3,Punimon,Baby,Free,Neutral,2,0,870,50,97,87,50,75
3,4,Botamon,Baby,Free,Neutral,2,0,690,68,77,95,76,61
4,5,Poyomon,Baby,Free,Neutral,2,0,540,98,54,59,95,86

In [67]:
df.groupby('Type')

In [71]:
by_type = df.groupby('Type')

In [98]:
by_type.count()['Digimon']

Type
Data        80
Free        52
Vaccine     97
Virus      112
Name: Digimon, dtype: int64

In [116]:
pd.DataFrame(by_type.count()['Digimon'])

         Digimon
Type
Data          80
Free          52
Vaccine       97
Virus        112

In [80]:
df.groupby('Stage')

In [81]:
by_stage = df.groupby('Stage')

In [117]:
by_stage.mean()['HP'].max()['Atk']

TypeError: 'float' object is not subscriptable

In [120]:
(df[['Stage', 'HP', 'Atk']].groupby('Stage').agg({'HP' : 'mean', 'Atk' : 'max'})).round()

                 HP  Atk
Stage
Armor        1170.0  168
Baby          728.0   97
Champion     1085.0  188
In-Training   834.0  109
Mega         1423.0  243
None         1270.0  166
Rookie        927.0  133
Ultimate     1285.0  203
Ultra        1526.0  318

In [121]:
(pd.DataFrame(by_stage.mean()['HP'])).round()

                 HP
Stage
Armor        1170.0
Baby          728.0
Champion     1085.0
In-Training   834.0
Mega         1423.0
None         1270.0
Rookie        927.0
Ultimate     1285.0
Ultra        1526.0

In [123]:
df.loc[df['Digimon'] == 'Kuramon', 'Atk'] = 2500
df.head()

,#,Digimon,Stage,Type,Attribute,Memory,Equip Slots,HP,SP,Atk,Def,Int,Spd
0,1,Kuramon,Baby,Free,Neutral,2,0,590,77,2500,69,68,95
1,2,Pabumon,Baby,Free,Neutral,2,0,950,62,76,76,69,68
2,3,Punimon,Baby,Free,Neutral,2,0,870,50,97,87,50,75
3,4,Botamon,Baby,Free,Neutral,2,0,690,68,77,95,76,61
4,5,Poyomon,Baby,Free,Neutral,2,0,540,98,54,59,95,86

In [114]:
pd.DataFrame(by_stage.mean()['HP']).sort_values(by=['HP'], ascending=False).head(3)

                   HP
Stage
Ultra     1526.428571
Mega      1422.857143
Ultimate  1284.743590